[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
gunicorn = "*"
django = "*"
collectfast = "*"
django-s3-folder-storage = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
pytest-django = "*"
flake8 = "*"

[requires]
python_version = "3.9"
