<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Lista de Tarefas</h1>

            <form action="{% url 'tarefas:home' %} " method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Descreva sua tarefa"
                           aria-label="Descreva sua tarefa" aria-describedby="button-addon2" name="nome">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" id="button-addon2">Salvar</button>
                    </div>
                </div>
                <small class="form-text text-muted">{{ form.nome.errors }}</small>
            </form>

            <h2 class="mt-5">Tarefas Pendentes</h2>

            {% for tarefa in  tarefas_pendentes %}

                <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %} " method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Descreva sua tarefa" required="required"
                               aria-label="Descreva sua tarefa" name="nome" value="{{ tarefa.nome }}">
                        <input type="hidden" value="checked" name="feita">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">Marcar como Feita</button>
                        </div>
                    </div>
                </form>

            {% endfor %}

            <h2 class="mt-5">Tarefas já Concluídas</h2>

            {% for tarefa in  tarefas_feitas %}

                <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %} " method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Descreva sua tarefa" required="required"
                               aria-label="Descreva sua tarefa" name="nome" value="{{ tarefa.nome }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-warning">Marcar como Pendente</button>
                        </div>
                    </div>
                </form>

            {% endfor %}

        </div>
    </div>
</div>

</body>
</html>